html
    head 
        title Plantilla pug
        style.
            body{
                color: white;
                background-image: url("https://th.bing.com/th/id/OIP.HtuKXI2RQbBNsIXDTEDFEAHaEr?pid=ImgDet&rs=1");
            }
        meta(charset="utf-8")
    body
      
        h1="Plantilla De Programacion DistribuidaS"
        h2="IRVING GARCIA 4°C"
        img(src="https://media.giphy.com/media/QHE5gWI0QjqF2/giphy.gif")
     
        h3=""
        <iframe width="560" height="315" src="https://www.youtube.com/embed/rj7DOPPTkQA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
         br
         br
        i Links de contacto
    ul 
     li 
       a(href="https://github.com/MYMIRVINGG250") GIT
     li 
       a(href="https://www.facebook.com/irving.garcia.5203/") Faceboock
     li 
       a(href="https://www.instagram.com/ulises2t5/") Instagram
    